/* CustomNavbar.css */

.nav-item{
  font-size: large;
  
  padding-top: 1%;
  
  padding-left: 1%;
  padding-right: 1%;
}
/* Style the Nav Links */
.nav-item a.nav-link {
  color: #333; /* Change link color */
  font-weight: bold; /* Make the font bold */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.nav-item a.nav-link:hover {
  color: #ff5733; /* Change link color on hover */
}

/* Style the active Nav Link */
.nav-item a.nav-link.active {
  color: #ff5733; /* Change color for the active link */
}
