.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.homecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2 {
  text-align: center;
}
.homename {
  color: red; /* Change color here */
  margin-left:0.25em
}
.homecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; /* Adjust max-width as needed */
  margin-top: 20px; /* Adjust margin as needed */
}
.homeimage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.homegif-image {
  max-width: 300px; /* Adjust image size as needed */
  margin-top: 20px; /* Adjust margin as needed */
  align-items: center;
}

/* Style for the h5 elements */
.homeh5 {
  font-family: Arial, sans-serif;
  margin: 5px 0; /* Adjust the margin as needed */
  text-align: center;
  font-weight: normal; 
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.social-icon img {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  transition: transform 0.3s ease-in-out;
}
.social-icon:hover {
  color: #007bff; /* Change the hover color as needed */
}

.education {
  display: flex;
  align-items: center;
  /* width: 50%; */
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.education-text {
  flex: 1;
}

.education-logo {
  width: 20%; /* Adjust this as needed */
  height: 50%; /* Adjust this as needed */
  /* border-radius: 50%; Creates a circle */
  overflow: hidden; /* Ensures the image stays within the circle */
  /* align-items: right; */
}

.education img {
  width: 60%; /* Ensures the image fills the circle */
  height: 100%; /* Ensures the image fills the circle */
  object-fit: cover; /* Maintains image aspect ratio */
}

.custom-list {
  list-style-type: none;
  padding-left: 1%;
}

.educationh6 {
  font-family: Arial, sans-serif;
  margin: 5px 0; /* Adjust the margin as needed */
  font-weight: normal; 
  text-align: left;
}

.leftalign {
  text-align: left;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.projects {
  display: flex;
  gap: 20px; /* Adjust as needed */
  align-items: center;
  margin-bottom: 20px;
}

.project {
  flex: 1;
}


/* #light{
  background-color: rgb(255, 255, 255);
}

#dark{
  background-color: black;
  color: white;
} */