.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.homecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2 {
  text-align: center;
}
.homename {
  color: #f92b2b; /* Change color here */
  margin-left:0.25em
}
.homecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; /* Adjust max-width as needed */
  margin-top: 20px; /* Adjust margin as needed */
}
.homeimage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.homegif-image {
  max-width: 300px; /* Adjust image size as needed */
  margin-top: 20px; /* Adjust margin as needed */
  align-items: center;
}

/* Style for the h5 elements */
.homeh5 {
  font-family: 'Roboto', sans-serif;
  margin: 5px 0; /* Adjust the margin as needed */
  text-align: center;
  font-weight: normal; 
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.social-icon img {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  transition: transform 0.3s ease-in-out;
}
.social-icon:hover {
  color: #007bff; /* Change the hover color as needed */
}

.education {
  display: flex;
  align-items: center;
  /* width: 50%; */
  /* padding-right: 1%;
  padding-left: 1%; */
  padding-top: 1%; 
  padding-bottom: 1%;
  border-bottom: 1px solid #ccc; /* Add a border between sections */
}

.education-text {
  flex: 1;
}

.education-logo {
  max-width: 20%; /* Adjust this as needed */
  max-height: 20%; /* Adjust this as needed */
  align-items: center;
  padding-left: 5%;
  overflow: hidden; /* Ensures the image stays within the circle */
  /* align-items: right; */
}

.education img {
  max-width: 80%; /* Ensures the image fills the circle */
  max-height: 80%; /* Ensures the image fills the circle */
  object-fit: cover; /* Maintains image aspect ratio */
}

.custom-list {
  list-style-type: none;
  padding-left: 1%;
}

.educationh6 {
  font-family: Arial, sans-serif;
  margin: 5px 0; /* Adjust the margin as needed */
  font-weight: normal; 
  text-align: left;
  padding-right: 2%;
}

.leftalign {
  text-align: left;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.projects {
  display: flex;
  gap: 1%; /* Adjust as needed */
  align-items: center;
  margin-bottom: 1%;
}

.project {
  flex: 1;
}

/* Styling for the logos */
.leftalign img {
  margin-right: 1%;
  margin-bottom: 1%;
  border-radius: 1%;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for logos */
.leftalign img:hover {
  transform: scale(1.1);
}


.achievements {
  display: flex;
  /* gap: 20px; Adjust the space between categories */
}

.category {
  flex: 1;
  border-right: 1px solid #ccc; /* Optional: Add a border for better separation */
  padding: 1%; /* Optional: Add padding around each category */
  object-fit: fill;
}

.category-title {
  margin-top: 0;
}

.year {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.section.show {
  opacity: 1;
}


.interact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.interact-button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.interact-button:active {
  transform: scale(1);
}

/* shepherd */
/* App.css */
/* .shepherd-theme-custom {
  background-color: rgba(245, 245, 245, 0);
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.shepherd-theme-custom .shepherd-header {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 10px;
}

.shepherd-theme-custom .shepherd-text {
  font-size: 1em;
  line-height: 1.5;
}

.shepherd-theme-custom .shepherd-buttons {
  text-align: right;
  margin-top: 15px;
}

.shepherd-theme-custom .shepherd-button {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
}

.shepherd-theme-custom .shepherd-button:hover {
  background-color: darkred;
}

.shepherd-theme-custom .shepherd-button:disabled {
  background-color: #9e9e9e;
}
 */

 /* .shepherd-theme-custom {
  background-color: rgba(245, 245, 245, 0); 
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.shepherd-theme-custom .shepherd-content {
  background-color: rgba(255, 255, 255, 0); 
}

.shepherd-theme-custom .shepherd-header {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 10px;
}

.shepherd-theme-custom .shepherd-text {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  line-height: 1.5;
}

.shepherd-theme-custom .shepherd-buttons {
  background-color: rgba(255, 255, 255, 0);
  text-align: right;
  margin-top: 15px;
}

.shepherd-theme-custom .shepherd-button {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
}

.shepherd-theme-custom .shepherd-button:hover {
  background-color: darkred;
}

.shepherd-theme-custom .shepherd-button:disabled {
  background-color: #9e9e9e;
} */

.shepherd-theme-custom {
  /* background-color: rgba(245, 245, 245, 0) !important; Fully transparent background */
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.shepherd-theme-custom .shepherd-content {
  /* background-color: rgba(245, 245, 245, 0) !important; Fully transparent background */
  /* border: 2px solid red; */
}

.shepherd-theme-custom .shepherd-header {
  /* background-color: transparent !important; Ensure header background is transparent */
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 10px;
}

.shepherd-theme-custom .shepherd-text {
  /* background-color: transparent !important; Ensure text background is transparent */
  font-size: 1.1em;
  line-height: 1.5;
}

.shepherd-theme-custom .shepherd-buttons {
  background-color: transparent !important; /* Ensure buttons background is transparent */
  text-align: right;
  margin-top: 15px;
}

.shepherd-theme-custom .shepherd-button {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
}

.shepherd-theme-custom .shepherd-button:hover {
  background-color: darkred;
}

.shepherd-theme-custom .shepherd-button:disabled {
  background-color: #9e9e9e;
}
.shepherd-theme-custom .shepherd-arrow{
  display: none;
}